/*цвет основного текста #000000*/
/*акцент #2196F3*/
/*акцент #FFFFFF*/
/*цвет вторичного текста #757575*/
/*акцент rgba(255, 255, 255, 0.6);*/
/*цвет фона #E5E5E5*/
/*вторичный цвет фона #F5F4FA*/

/* test */
/* :hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ================Общие классы================ */
/* HEADER */







.second-part-logo {
  color: var(--second-accent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: flex;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

.menu-link {
  position: relative;
  padding: 32px 0;
  display: flex;
  color: var(--second-accent-color);
  transition: color var(--speed) var(--cubic);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.address-tel-container {
  display: flex;
  align-items: center;
}

/* ================INDEX================ */
/* HEADER */

.mail-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-right: 50px;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color var(--speed) var(--cubic);
}

.social-icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.mail-address:hover,
.mail-address:focus {
  color: var(--accent-color);
}

.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding: 32px 0;
  display: flex;
  transition: color var(--speed) var(--cubic);
}

.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/primary/hero.jpg);
  background-color: var(--background-second-color);
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* width: 1600px;
  height: 600px; */
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-accent-color);
}

.main-button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--background-accent-color);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  transition: background-color var(--speed) var(--cubic);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--background-accent-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Наши преимущества */
.benefits {
  padding-top: 94px;
}

.benefits-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list {
  width: 270px;
}

.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-list:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.text-in-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/* Чем мы занимаемся */
.headline {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}

.container-job {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.command {
  display: flex;
  justify-content: center;
  align-items: center;
}

.command-item {
  position: relative;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.command-item-wraper {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.text-wraper {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-accent-color);
}

/* Наша команда */
.background-command {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.container-command {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.frame {
  width: 270px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.headline-command {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;
  padding-top: 94px;
}

.section-command {
  padding: 30px 0;
}

.name-command {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}

.name-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color var(--speed) var(--cubic);
}

.social-list-icon {
  fill: var(--fill-color);
  transition: fill var(--speed) var(--cubic);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--background-accent-color);
}
/* Постоянные клиенты */
.clients {
  padding: 94px 0;
}

.headline-clients {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--fill-color);
  transition: fill var(--speed) var(--cubic),
    border-color var(--speed) var(--cubic);
}
.clients-list-link:hover {
  fill: var(--background-accent-button);
  border-color: #2196f3;
}

/* FOOTER */
.background-footer {
  background-color: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: flex;
  margin-top: 60px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-accent-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer {
  font-style: normal;
  color: rgb(255, 255, 255, 0.6);
}

.footer-number {
  display: flex;
  margin-top: 9px;
}

.second-part-logo-footer {
  color: var(--background-accent-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.headline-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--background-accent-color);
}

.container-footer-links {
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--speed) var(--cubic);
}

.social-list-icon-footer {
  fill: var(--background-accent-color);
}

.social-list-link-footer:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

/* subscribe */

.footer-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--background-accent-color);
  margin-left: 93px;
}

.form-footer {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.form-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 93px;
  background: var(--background-second-color);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--background-accent-color);
  transition: border-color var(--speed) var(--cubic);
}

.form-email:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-send-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--background-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 29px;
  transition: background-color var(--speed) var(--cubic);
}

.icon-send {
  margin-left: 10px;
}

.button-send-footer:hover,
.button-send-footer:focus {
  background-color: var(--background-accent-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ================PORTFOLIO================ */

/* Main */
/* Навигация */

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  transition: background-color var(--speed) var(--cubic),
    color var(--speed) var(--cubic), box-shadow var(--speed) var(--cubic);
}
/* Плиточные елементы */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.work-element {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--speed) var(--cubic);
}

.work-list:nth-child(3n) {
  margin-right: 0;
}

.work-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-list:hover,
.work-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-list-blok {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-accent-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 23px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--speed) var(--cubic);
}

.work-list:hover .overlay {
  transform: translate(0, 0);
}

.work-element-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.description-work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  margin-bottom: 4px;
}

.task-types {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/* FOOTER */
.background-footer-portfolio {
  background-color: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.mail-address-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-right: 50px;
  display: block;
  transition: color var(--speed) var(--cubic);
}

.mail-address-portfolio:hover,
.mail-address-portfolio:focus {
  color: var(--accent-color);
}

.phone-number-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  display: block;
  transition: color var(--speed) var(--cubic);
}

.phone-number-portfolio:hover,
.phone-number-portfolio:focus {
  color: var(--accent-color);
}

.current-portfolio {
  background-color: var(--accent-color);
  color: var(--background-accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-accent-color);
  background: var(--accent-color);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--background-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: border-color var(--speed) var(--cubic);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border-color: var(--accent-color);
}

.modal-close-button-icon {
  transition: fill var(--speed) var(--cubic);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: var(--accent-color);
}

/* MODAL FORM  */

.modal-form-text {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 2px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--speed) var(--cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: var(--accent-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--speed) var(--cubic);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--speed) var(--cubic);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-submit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--speed) var(--cubic);
  color: var(--background-accent-color);
  border: none;
}

.modal-form-submit:focus,
.modal-form-submit:hover {
  background-color: var(--background-accent-button);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  content: "";
  border: 1px solid var(--second-accent-color);
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-link-contract {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border: none;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 2px solid var(--accent-color);
  border: none;
}

.modal-form-submit {
  align-self: center;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--background-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 29px;
  transition: background-color var(--speed) var(--cubic);
}
